* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./index3.jpeg);
   background-size: cover;
   width: auto;
   
}
.lit {
   text-align: center;
   }
   

nav a  {
padding: 30px;
}